{
  "instances": [
    {
      "name": "example.com",
      "connection-string": "user@example1.com"
    },
    {
      "name": "example.org",
      "connection-string": "otheruser@example2.org"
    }
  ]
}
